@use "../common/variables.scss";

.advantages {
  margin-bottom: 4px;
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  counter-reset: number;
}

.advantages__item {
  color: variables.$black;
  background-color: #eeeeee;
}

.advantages__wrapper-blue {
  color: variables.$white;
  background-color: variables.$basic-blue;
  padding: 37px 18px;
}

.advantages__wrapper {
  padding: 24px 18px;
}

.advantages__content-title {
  text-align: center;
  margin: 0;
}

.advantages__content-title::after {
  counter-increment: number;
  content: "– №" counter(number) " –";
  counter-increment: number;
  color: inherit;
  text-align: center;
  line-height: 21px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 100px;
  height: 30px;
}

.advantages__content-description {
  text-align: center;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.advantages__service-list {
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-bottom: 46px;
  padding-right: 18px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style-type: none;
  background-color: variables.$white;
}

.advantages__service-item {
  margin-left: 65px;
}

.advantages__service-title {
  margin: 0;
  margin-top: 8px;
  margin-bottom: 16px;
}

.advantages__service-description {
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
