.hero-block {
  position: relative;
  padding-top: 90px;
  background-image: image-set(url("../img/hero-mobile.webp") type("image/webp"),
      url("../img/hero-mobile.jpg") type("image/jpeg"));
  background-repeat: no-repeat;
  background-size: 320px 389px;
  background-position: center top;
  z-index: -1;

  @media (min-resolution: 2dppx) {
    background-image: image-set(url("../img/hero-mobile@2x.webp") type("image/webp"),
        url("../img/hero-mobile@2x.jpg") type("image/jpeg"));
  }
}

.hero-block::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 320px;
  height: 57px;
  background-image: url("../img/hero-triangle-mobile.svg");
}

.hero-block__text {
  margin: 0 auto;
  display: block;
  text-align: center;
}
