@use "../common/variables.scss";

.main-header {
  position: relative;
  min-height: 56px;
  width: 100%;
}

.main-header__logo-image {
  position: absolute;
  top: 0;
  left: 50%;
  width: 185px;
  height: 96px;
  transform: translateX(-50%) scale(1);
  transform-origin: top;
  transition: transform 0.5s ease, opacity 0.3s ease;
  overflow: hidden;
  text-decoration: none;
  z-index: 1;

  &:hover {
    transform: translateX(-50%) scale(1.1);
  }

  &:active {
    opacity: 0.8;
  }
}

.main-header__hero-block {
  min-height: 389px;
}
