@use "../common/variables.scss";

.main-header {
  position: relative;
}

.main-header__logo-image {
  position: absolute;
  top: 0;
  left: 67px;
  display: flex;
  align-items: center;
  width: 185px;
  height: 96px;
  overflow: hidden;
  text-decoration: none;

  @media (min-width: variables.$tablet-width) {
    left: 290px;
    z-index: 5;
  }

  @media (min-width: variables.$desktop-width) {
    left: 507px;
  }
}

.main-header__hero-block {
  min-height: 389px;
}
