@use "../common/variables.scss";

.main-container {
  flex-grow: 1;
}

.main-container__title {
  margin-top: 32px;
  margin-bottom: 0;
  width: 264px;
  text-align: center;
  color: variables.$black;
}

@media (min-width: variables.$desktop-width) {
  .main-container__title {
    width: 500px;
  }
}

.main-container__description {
  color: #333333;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  width: 250px;
}
