@use "../common/variables.scss";

.title {
  font-family: variables.$font-family-base;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: variables.$black;
  text-transform: uppercase;

  @media (min-width: variables.$tablet-width) {
    font-size: 21px;
  }
}
