// Viewports
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
// Colors
$black: #000000;
$white: #ffffff;
$basic-blue: #81b3d2;
//Fonts
$font-family-base: "PT Sans", sans-serif;
$font-size-base: 14px;
$line-height-base: 21px;
